php:
    date.timezone: Europe/Prague

application:
	scanDirs: false

services:
	- Salamium\Testinium\FileUploadFactory(%tempDir%)
	noUse: h4kuna\Upload\MyFileLocale(%tempDir%)

extensions:
    uploadExtension: h4kuna\Upload\DI\UploadExtension

uploadExtension:
	destinations:
		public: %tempDir%/upload
		private: %tempDir%/private
		noUse: @noUse
